.body {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0;

    .contentLeft {
        width: 350px;
        height: 100vh;
        display: flex;
        align-items: center;
        z-index: 12;
        padding: 0 100px;
        background-color: #494b50;
        color: #fff;

        .logo {
            a {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 26px;
                font-weight: 600;
            }
        }

        .menu {
            padding: 40px 0 50px;
            width: 100%;
            float: right;
            display: flex;
            align-items: flex-start;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    margin: 0;
                    width: 100%;
                    float: right;
                    height: 30px;

                    a {
                        text-decoration: none;
                        color: #767676;
                        display: inline-block;
                        font-weight: 500;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;

                        &:hover {
                            color: #fff;
                            letter-spacing: 2px
                        }

                        &.active {
                            color: #fff;
                            letter-spacing: 2px
                        }
                    }
                }
            }
        }
    }
}